/*** HEAD SECTION ***/

@-ms-viewport{
    width: device-width;
  }

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514e;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
    
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
.top_container {
    background-color: #ebfffb;
    position: relative;
    padding-top: 100px;
}

.middle_container {
    margin: 100px 0;
    
}

.bottom_container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.pro {
    text-decoration: underline;
}

.top_cloud {
    position:absolute;
    right: 300px;
    top: 40px;
}

.bottom_cloud {
    position: absolute;
    left: 300px;
    bottom: 400px;
    max-width: 500px
}

.main-img {
    width: 30%;
}

.my_profile_image{
    width: 13%;
    border-radius: 100%;

}

p {
    line-height: 2;
}

.footer-link {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 30px;
    text-decoration: none;
}
.footer-link:hover {
    color: #eaf6f6
}

.skill-row {
    width: 50%;
    margin: 150px auto 150px auto;
    text-align: left;
}

.code_img {
    width: 35%;
    float: left;
    margin-right: 30px;
}

.social_img {
    width: 30%;
    float: right;
    margin-left: 30px;
}

.intro{
    width: 30%;
    margin: auto;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}

.contact_message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #11cdd4;
	-webkit-box-shadow:inset 0px 1px 0px 0px #11cdd4;
	box-shadow:inset 0px 1px 0px 0px #11cdd4;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11cdd4), color-stop(1, #11999e) );
	background:-moz-linear-gradient( center top, #11cdd4 5%, #11999e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11cdd4', endColorstr='#11999e');
	background-color:#11cdd4;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #11cdd4;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:36px;
	line-height:36px;
	width:142px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #a1a1a1;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #11999e), color-stop(1, #11cdd4) );
	background:-moz-linear-gradient( center top, #11999e 5%, #11cdd4 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#11999e', endColorstr='#11cdd4');
	background-color:#11999e;
}
.btn:active {
	position:relative;
	top:1px;
}

.copyrights {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}